<% provide(:title, @post.title) %>
<article class = "post">
<h2><%= @post.title %></h2>
<%= image_tag @post.image_url.to_s, class: "img-fluid" %>
<p>
  <%= simple_format(@post.content) %>
  <% if session[:admin] then %>
    <%= link_to edit_post_path(@post), class: "btn btn-primary" do %>Edit<% end %>
    <%= link_to @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "btn btn-primary" do %>Delete<% end %>
  <% end %>
</p>
</article>
