<h2><%= @post.title %></h2>
<%= image_tag post.image_url.to_s %>
<p><%= simple_format(@post.content) %></p>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", @post, method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
